{%extends  'amazon/base.html' %}
{%block title %}

    Add new Product
{% endblock %}

{% block content %}
    <h1>Add new product </h1>

You must tell the html part --that you will upload file
<form action=""  method="post"  enctype="multipart/form-data">
    {% csrf_token %}
  <div class="mb-3">
    <label  class="form-label">Name</label>
    <input type="text" class="form-control" name="name"
           aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" class="form-control" name="price" >
  </div>
    <div class="mb-3">
    <label class="form-label">Image</label>
    <input type="text" class="form-control" name="img" >
  </div>

       <div class="mb-3">
    <label class="form-label">Upload image</label>
    <input type="file" class="form-control" name="image" >
  </div>
    <div class="mb-3">
    <label
           class="form-label">Description</label>
        <textarea   name="desc" class="form-control"> </textarea>
    </div>
  <div class="mb-3 form-check">
    <input type="checkbox"  name="is_best_selling" class="form-check-input" >
    <label class="form-check-label" >Is best selling</label>
  </div>
    <div class="mb-3">
        <label class="form-check-label" >Product Category</label>

        <select class="form-select"  name="category">
            {% for c in categories%}
          <option value="{{c.id}}">{{c.cat_name}}</option>

            {% endfor %}
        </select>

    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



{%endblock%}